#########################################################################
# Some configs from Mainsail docs
# See mainsail.cfg and the following link
# https://github.com/mainsail-crew/mainsail-config/blob/master/README.md
#########################################################################
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True    # use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 0       # custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 210     # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz  : 2.0     # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract         : 1.0     # the value to retract while PAUSE
variable_cancel_retract  : 5.0     # the value to retract while CANCEL_PRINT
variable_speed_retract   : 35.0    # retract speed in mm/s
variable_park_at_cancel  : True    # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
gcode:


######################################################################
# Emit a beep from the buzzer (_BEEPER_PIN) via GCODE
# https://github.com/jschuh/klipper-macros/blob/main/beep.cfg
######################################################################
[gcode_macro m300]
description: Emits and audible beep.
  Usage: M300 [P<duration>] [S<frequency>]
gcode:
  {% set settings = printer.configfile.settings %}
  {% if "output_pin _beeper" in printer %}
    {% set P = (params.P|default(100)|int, 0)|max %}
    {% set S = (params.S|default(1000)|int, 1)|max %}
    SET_PIN PIN=_beeper VALUE={% if settings["output_pin _beeper"].pwm %}{
      settings["output_pin _beeper"].scale|default(1.0) * 0.5} CYCLE_TIME={ 1.0 / S 
    }{% else %}1{% endif %}
    G4 P{P}
    SET_PIN PIN=_beeper VALUE=0
  {% else %}
    {action_respond_info(
       "M300 is disabled. To enable create an [output_pin _beeper] config.")}
  {% endif %}


######################################################################
# Material change; Never used it, probably needs some adjustments.
# For example, it should use the _TOOLHEAD_PARK_PAUSE_CANCEL cmd
# from mainsail.cfg
######################################################################
[gcode_macro M600]
# default_parameter_X: 50
# default_parameter_Y: 0
# default_parameter_Z: 10
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-150 F1000
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    RESTORE_GCODE_STATE NAME=M600_stat