#
######################################################################
# Klipper configuration file for my Anycubic i3 MEGA S
######################################################################
#
# Based on widapro and JJShankles config files available at:
# https://github.com/widapro/3d-printers/blob/master/anycubic-i3-mega-s/klipper/printer.cfg
# https://github.com/JJShankles/3d-printers/blob/master/JJ_Anycubic_Mega_S_TMC2208_Klipper_printer.cfg
#
# This config file contains settings of all printer pins (steppers, sensors) 
# for Anycubic i3 mega S with TMC2208 Drivers with stock plug orientation,
# using the stock Trigorilla motherboard.
# Klipper firmware should be compiled for the atmega2560.
#
# Config file includes
#  - Original or 2208(2209) rotated by cable drivers
#  - Mesh bed leveling: BLtouch
#  - 'virtual_sdcard' for fast printing without gaps
#  - Beeper through M300 gcode (in macros.cfg)
#  - Pause/Resume through M600 for filament change (in macros.cfg)
#  - Pressure Advance and Input Shaper configured (do your tests)
#
# Start and end gcode should be configured in your slicer.
# See start.gcode and end.gcode files.
#
# Video by JJ Shankles covering installation here: https://youtu.be/cAxEIdThDiQ
#
# The latest version of the config reference is also available online at:
# https://www.klipper3d.org/Config_Reference.html

######################################################################
# Printer props
######################################################################

[mcu]
serial = /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0


[printer]
kinematics = cartesian
max_velocity = 200
max_accel = 4000
minimum_cruise_ratio = 0.5
max_z_velocity = 8
max_z_accel = 190
square_corner_velocity = 5


######################################################################
# Motors props
######################################################################

[stepper_x]
step_pin = PF0
## "!" for stock and TMC2208 with reversed plugs
#dir_pin = !PF1
dir_pin = PF1
enable_pin = !PD7
rotation_distance = 40
Full_Steps_Per_Rotation = 200
Microsteps = 16
endstop_pin = ^!PE5
position_min = -1
position_endstop = -1
position_max = 230
homing_speed = 50
homing_retract_dist = 5
second_homing_speed = 10


[stepper_y]
step_pin = PF6
## NO "!" for stock and TMC2208 with reversed plugs
#dir_pin = PF7
dir_pin = !PF7
enable_pin = !PF2
rotation_distance = 40
Full_Steps_Per_Rotation = 200
Microsteps = 16
endstop_pin = ^!PL7
position_endstop = 0
position_max = 220
#TODO increase ^^ to 220
homing_speed = 60
homing_retract_dist = 5
second_homing_speed = 10


[stepper_z]
step_pin = PL3
## NO "!" for stock and TMC2208 with reversed plugs
#dir_pin = PL1
dir_pin = !PL1
enable_pin = !PK0
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16
# uncomment below for 3dtouch. comment for manual mesh bed leveling
endstop_pin = probe:z_virtual_endstop
# comment 2 lines below for 3dtouch bed leveling and to disable Z limit switches
# endstop_pin = ^!PD3
# position_endstop = 0.0
position_max = 185
position_min = -3
homing_speed = 7
homing_retract_dist = 5
second_homing_speed = 3


[stepper_z1]
step_pin = PC1
## NO "!" for stock and TMC2208 with reversed plugs
#dir_pin = PC3
dir_pin = !PC3
# uncomment below for 3dtouch. comment for manual mesh bed leveling
endstop_pin = probe:z_virtual_endstop
## comment below for 3dtouch bed leveling and to disable Z limit switches
#endstop_pin = ^!PL6
enable_pin = !PC7
#step_distance = .0025
rotation_distance = 8
Full_Steps_Per_Rotation = 200
Microsteps = 16


[extruder]
step_pin = PA4
## NO "!" for stock and TMC2208 with reversed plugs
#dir_pin = PA6
dir_pin = !PA6
enable_pin = !PA2
#control = pid
## original stepper motor w/ BMG clone, bowden setup
#rotation_distance = 7.833 
## Orbiter v2 LDO motor, direct drive setup
rotation_distance = 4.723
Full_Steps_Per_Rotation = 200
Microsteps = 16
## NEMA17 23mm stepper motor
#step_distance = .00236
nozzle_diameter = 0.400
filament_diameter = 1.750
heater_pin = PB4
sensor_type = ATC Semitec 104GT-2
sensor_pin = PK5
min_temp = 0
max_temp = 285
max_extrude_only_distance = 200.0
smooth_time = 1
min_extrude_temp = 180
max_extrude_cross_section = 150
pressure_advance = 0.02


######################################################################
# Fans props
######################################################################

[fan]
pin = PH6


[heater_fan extruder_fan]
pin = PL5


[controller_fan stepstick_fan]
pin = PH4


######################################################################
# Bed props
######################################################################

[heater_bed]
heater_pin = PH5
sensor_type = EPCOS 100K B57560G104F
sensor_pin = PK6
min_temp = 0
max_temp = 110
smooth_time = 1
#control = pid


[z_tilt]
z_positions:
    282,110
    -62,110
points:
    0, 100
    #50, 100
    #100, 100
    195, 100
    # 0,110
    #195,120
    #0, 120
speed: 200
horizontal_move_z: 5
retries: 4
retry_tolerance: 0.01


[screws_tilt_adjust]
screw1: -1, 19
screw1_name: Front Left Screw
screw2: 184, 21
screw2_name: Front Right Screw
screw3: 184, 220
screw3_name: Back Right Screw
screw4: -1, 220
screw4_name: Back Left Screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M3

######################################################################
# Probe and homing settings
######################################################################

[bltouch]
sensor_pin = ^PE4
control_pin = PB5
x_offset = 29.7
y_offset = -15.0
#z_offset = 1.22
stow_on_each_sample = False
probe_with_touch_mode = True


# bltouch mesh bed leveling
[bed_mesh]
speed = 200
horizontal_move_z = 5
mesh_min = 30, 14
mesh_max = 220,205
probe_count = 6
mesh_pps = 1
algorithm = bicubic
bicubic_tension = 0.3
adaptive_margin = 5


##Turn ON to adjust home location from 0,0,0
[safe_z_home]
z_hop = 7
home_xy_position = 20,20
#speed = 100
#z_hop_speed = 10

######################################################################
# Enable features
######################################################################

[respond]

[exclude_object]

[gcode_arcs]

[pause_resume]
recover_velocity: 180.0

[firmware_retraction]
retract_length: 1
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 25

[axis_twist_compensation]
speed: 100
calibrate_start_x: 30
calibrate_end_x: 185
calibrate_y: 110

######################################################################
# Etc.
######################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[output_pin _beeper]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000


# enable moving befor homing
## put in terminal:
## SET_KINEMATIC_POSITION X=100 Y=100 Z=100
## then move as usual
[force_move]
enable_force_move: True


## do your own measurement
## https://www.klipper3d.org/Resonance_Compensation.html
#[input_shaper]
#shaper_freq_x = 55.55
#shaper_freq_y = 52.84
#shaper_type = ei

######################################################################
# Import mainsail cfg and macros
######################################################################

[include mainsail.cfg]

## fluidd.cfg and moonsail.cfg have the same content so it's useless to import both
#[include fluidd.cfg]

[include KAMP_Settings.cfg]

[include macros.cfg]

[virtual_sdcard]
path: /home/glics/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


######################################################################
# Auto-tuning input shaper - needs an accelerometer or something (?)
######################################################################

## for Measuring Resonances through Raspberry pi
## https://www.klipper3d.org/Measuring_Resonances.html

## [mcu rpi]
## serial: /tmp/klipper_host_mcu

## [output_pin LEDlights]
## pin: rpi:gpio17
## value: 1
## shutdown_value: 1

## [adxl345]
## cs_pin: rpi:None

## [resonance_tester]
## accel_chip: adxl345
## probe_points:
##     100,100,20  # an example


######################################################################
# Auto-generated stuff
# reminder: higher z-offset = bed closer to nozzle
######################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 73.517
#*# pid_ki = 2.131
#*# pid_kd = 634.082
#*# control = pid
#*#
#*# [extruder]
#*# pid_kp = 43.199
#*# pid_ki = 2.118
#*# pid_kd = 220.317
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.080184, 0.047684, 0.075184
#*# 	-0.069816, -0.059816, -0.042316
#*# 	-0.102316, -0.097316, 0.012684
#*# 	-0.029816, 0.047684, 0.125184
#*# x_count = 3
#*# y_count = 4
#*# mesh_x_pps = 1
#*# mesh_y_pps = 1
#*# algo = lagrange
#*# tension = 0.3
#*# min_x = 82.05
#*# max_x = 149.59
#*# min_y = 53.83
#*# max_y = 165.3
#*#
#*# [bltouch]
#*# z_offset = 2.91
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.032000, 0.030000, -0.025000
#*# compensation_start_x = 30.0
#*# compensation_end_x = 185.0
