[Unit]
Description=Display Checker Service
After=network.target

[Service]
ExecStart=/usr/bin/python /etc/display-check.py
Restart=always
User=root

[Install]
WantedBy=default.target
